__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
venv/
data/raw/*.csv
data/raw/*.xlsx
results/*.npz
thesis/*.aux
thesis/*.bbl
thesis/*.blg
thesis/*.log
thesis/*.out
thesis/*.toc
thesis/*.synctex.gz
